# Node / React
node_modules/
frontend/node_modules/
frontend/dist/
dist/
build/

# Spring Boot
backend/target/
backend/.mvn/
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db